<div class="bg-1">
  <div class="row">
    <div class="medium-9 medium-centered columns">
      <div class="info-box-1">
        <%= image_tag("me.jpg", size: "250x250", class: "me-image") %>
        <div class="subtext-box-1">
          <p class="text-center" id="insp-quote">"The only way to do great work is to love what you do."</p>
          <p id="insp-quote-credit">- Steve Jobs</p>
        </div>
        <p class="text-center" id="about-me-subtext-1">Hi, my name's Tom. Thanks for taking the time to check out my site.</p>
        <p class="text-center" id="about-me-subtext-2">I'm a developer in the Boston area aspiring to advance in the field of Software Development, specifically Full-Stack Web Development using Ruby on Rails. If you have any questions or would simply like to get in touch, just shoot me a note in the contact section below.</p>
        <p class="text-center" id="about-me-subtext-3">Thanks again, and enjoy your visit!</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-2">
  <div class="header-box-1">
    <h2 class="text-center" id="projects-header">Projects</h2>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <ul class="tabs vertical" data-tab>
        <li class="tab-title first active"><a href="#panel11">LeadFinder</a></li>
        <li class="tab-title"><a href="#panel21">LiveStats</a></li>
        <li class="tab-title"><a href="#panel31">Expense Tracker</a></li>
        <li class="tab-title last"><a href="#panel41">tomfafard.com</a></li>
      </ul>
    </div>
    <div class="medium-8 columns">
      <div class="info-box-2">
        <div class="tabs-content text-center">
          <div class="content active" id="panel11">
            <h3>LeadFinder</h3>
            <%= image_tag("leadfinder.png", size: "300x300", class: "leadfinder-image") %>
            <br>
            <br>
            <%= link_to("Demo Site →", "http://leadfinder.herokuapp.com/", class: :button) %>
            <%= link_to("View Code →", "https://github.com/tomfafard/lead_finder", class: :button) %>
            <br>
            <p>LeadFinder is a simple solution for finding, displaying, and working with sales leads.</p>
            <h5>Technologies Used:</h5>
            <ul>
              <li>Ruby on Rails</li>
              <li>Basic JS</li>
              <li>PostgreSQL Database</li>
              <li>Git Workflow</li>
              <li>Rspec Testing Suite</li>
            </ul>
          </div>
          <div class="content" id="panel21">
            <h3>LiveStats</h3>
            <%= image_tag("livestats.png", size: "300x300", class: "livestats-image") %>
            <br>
            <br>
            <%= link_to("Demo Site →", "http://livestats.herokuapp.com/", class: :button) %>
            <%= link_to("View Code →", "https://github.com/tomfafard/stats_ql", class: :button) %>
            <br>
            <p>LiveStats is a stats website for popular online shooter Quake Live. Stats are obtained from Valve's Steam API.</p>
            <p style="font-style: italic;">This is a work in progress.</p>
            <h5>Technologies Used:</h5>
            <ul>
              <li>Ruby on Rails</li>
              <li>Steam API</li>
              <li>PostgreSQL Database</li>
              <li>Git Workflow</li>
            </ul>
          </div>
          <div class="content" id="panel31">
            <h3>Expense Tracker</h3>
            <%= image_tag("expensetracker.png", size: "300x300", class: "expensetracker-image") %>
            <br>
            <br>
            <%= link_to("Demo Site →", "http://rails-react-expense-tracker.herokuapp.com/", class: :button) %>
            <%= link_to("View Code →", "https://github.com/tomfafard/expense-tracker-react", class: :button) %>
            <br>
            <p>An expense tracker app utilizing React.js built following a tutorial by Fernando Villalobos.</p>
            <h5>Technologies Used:</h5>
            <ul>
              <li>Ruby on Rails</li>
              <li>React.js</li>
              <li>Git Workflow</li>
            </ul>
          </div>
          <div class="content" id="panel41">
            <h3>tomfafard.com</h3>
            <%= image_tag("tomfafardsite.png", size: "300x300", class: "tomfafardsite-image") %>
            <br>
            <br>
            <%= link_to("Demo Site →", "http://tomfafard.herokuapp.com/", class: :button) %>
            <%= link_to("View Code →", "https://github.com/tomfafard/my_site", class: :button) %>
            <br>
            <p>tomfafard.com is my personal website which I use to showcase my works.</p>
            <h5>Technologies Used:</h5>
            <ul>
              <li>Ruby on Rails</li>
              <li>JavaScript</li>
              <li>PostgreSQL Database</li>
              <li>Git Workflow</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 medium-centered columns">
      <div class="info-box-3 text-center">
        <div id="specialties-content">
          <h2 id="specialties-header">Specialties</h2>
          <ul id="spec-list-1">
            <li>Ruby on Rails</li>
            <li>JavaScript</li>
            <li>HTML / CSS</li>
            <li>JSON</li>
          </ul>
          <ul id="spec-list-2">
            <li>PostgreSQL</li>
            <li>Zurb Foundation</li>
            <li>Github Workflow</li>
            <li>Rspec / Capybara Testing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-3">
  <div class="row">
    <div class="small-1 small-centered columns message-section text-center">
      <div class="info-box-4">
        <div class="contact-form">
          <h2 id="contact-header">Contact</h2>
          <%= form_for [@message] do |f| %>
            <%= f.label :name, nil, id: 'name-label' %>
            <%= f.text_field :name %>
              </br>
            <%= f.label :email, nil, id: 'email-label' %>
            <%= f.text_field :email %>
              </br>
            <%= f.label :body, "Message", id: 'body-label' %>
            <%= f.text_area :body, size: "5x5" %>
              </br>
            <%= f.submit "Send Message", class: :button %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <input type="button" class="button secondary" name="adminbtn" id="adminbtn" value="Admin Login" />
</div>



<div class="bg-4">
  <div class="row">
    <div class="small-4 small-centered columns message-section text-center">
      <div class="login-form">
        <h4 id="admin-header">Admin</h4>
        <%= form_for [@login_creds] do |f| %>
          <%= f.label :username, id: 'user-label' %>
          <%= f.text_field :username %>
            </br>
          <%= f.label :password, id: 'pass-label' %>
          <%= f.password_field :password %>
            </br>
          <%= f.submit "Log In", class: :button %>
        <% end %>
      </div>
    </div>
  </div>
</div>
