<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="blogpost-form">
      <h2 id="new-blogpost-header">New Post</h2>
      <%= form_for [@post] do |f| %>
        <%= f.label :title, id: 'blog-title-label' %>
        <%= f.text_field :title %>
          </br>
        <%= f.label :body, id: 'blog-body-label' %>
        <%= f.text_area :body, size: "30x10" %>
          </br>
        <%= f.label :image, id: 'blog-image-label' %>
        <%= f.file_field :image %>
          </br>
        <%= f.submit "Submit Post", class: "button secondary" %>
      <% end %>
    </div>
  </div>
  <%= link_to "â† Cancel", blogposts_path, class: "button alert" %>
</div>
