<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1200" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400italic,400' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Tom Fafard" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1 id="website-header"><a id="home-compass" href="/"><strong>tomfafard.com</strong></a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
        <!-- Right Nav Section -->
        <a id="github-link" href="https://github.com/tomfafard">
          <img id="github-button" src="/github-black.png"/>
        </a>

        <a id="linkedin-link" href="https://www.linkedin.com/in/tomfafard">
          <img id="linkedin-button" src="/linkedin-black.png"/>
        </a>

        <ul class="right">

            <% if current_page?(controller: 'resumes', action: 'index') %>
              <li><a href="/">← Go Back</a></li>
            <% else %>
              <li><a href="/resume">View Resume →</a></li>
            <% end %>
        </ul>
        </section>
      </nav>
    </div>

    <div class="text-center" id="error-msg">
    <% flash.each do |key, value| %>
      <div data-alert class="flash">
        <%= value + " ✖︎" %>
      </div>
    <% end %>
    </div>

    <%= yield %>

  </body>
</html>
